.Contacts {
  width: min(600px, 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: #193948;
  margin: auto;
}
.Contacts button {
  border: none;
  border-radius: 50%;
  margin: auto;
}
.contactList{
  display: flex;
  flex-wrap: wrap;
}
